.card-list {
  width: 100%;
  height: 200px;
  display: flex;
  margin-top: 30px;
}

/* .card-title {
} */

.card-loading {
  display: block;
  width: 100%;
  max-width: 600px;
  justify-self: center;
}
