.card {

}

.card-box-image {
  color: rgb(255 255 255);
}

.card-box-image > .card-tag {
  font-weight: 300;
  font-size: 10px;
  line-height: 15px;
  color: #dedede;
}

.card-box-image > .card-name {
  font-weight: 600;
  font-size: 15;
  line-height: 16px;
}

.card-box-image > .card-author {
  font-weight: 400;
  font-size: 10px;
  line-height: 15px;
}
