.search {
  display: flex;
  width: 100%;
  gap: 11px;
}

.search-container {
  flex: 1;
  position: relative;
  display: flex;
}

.search-input {
  flex: 1px;
  padding: 12px 0 12px 58px;
  background-color: #dedede;
  border-radius: 5px;
  font-weight: 400;
  font-size: 14px;
  line-height: 32px;
  color: #252525;
  border: none;
}

.search-container img {
  position: absolute;
  left: 12px;
  top: calc((56px / 2) - 9px)
}

.search button {
  width: 100%;
  max-width: 56px;
  background-color: #121212;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
